@font-face {
    font-family: pro;
    src: url(../resources/Product.ttf);
}

@font-face {
    font-family: pro-bold;
    src: url(../resources/ProductBold.ttf);
}

[data-theme="dark"] {
    --taskbar-bg: #282928;
    --background: #1c1c1c;
    --choice-background: #1c1c1c;
    --accent: #41bc5d;
    --button-background: #282928;
    --button-color: #31bd4e;
    --button-color-hover: #ffffff;
    --settings-panel: #31bd4e63;
    --settings-panel-buttons: #31bd4e96;
    --seek-container-background: #272727;
    --player-container-background: #171717;
    --seek-before: #1e6226;
    --seek-after: #2aad3a;
    --seek-thumb: #239130;
    --seek-thumb-boxShadow: 0px 0px 1px 1px #23913078, 0px 0px 6px 2px rgba(0, 0, 0, 0.53);
    --seek-time-background: #2391308f;
    --switch-thumb: #41bc5d;
    --switch-back: #313131;
    --switch-back-shadow: #2b843f;
    --choice-color: #ffffff;
    --choice-background: #41bc5d;
    --details-background: #2aad3a59;
}

[data-theme="fracital"] {
    --taskbar-bg: #383838;
    --background: #222222;
    --accent: #FF40F7;
    --button-background: #383838;
    --button-color: #FF40F7;
    --button-color-hover: #ffffff;
    --settings-panel: #FF4DF782;
    --settings-panel-buttons: #FF40F796;
    --seek-container-background: #171717;
    --player-container-background: #242424;
    --seek-before: #482447;
    --seek-after: #FF40F7;
    --seek-thumb: #FF40F7;
    --seek-thumb-boxShadow: 0px 0px 1px 1px #FF40F778, 0px 0px 6px 2px rgba(0, 0, 0, 0.53);
    --seek-time-background: #FF40F78f;
    --switch-thumb: #ff40f7;
    --switch-back: #424242d3;
    --switch-back-shadow: #ff40f787;
    --choice-color: #ffffff;
    --choice-background: #ff40f7;
    --details-background: #ff40f74a;
}

[data-theme="night"] {
    --taskbar-bg: #26206A;
    --background: #181446;
    --button-background: #26206a;
    --button-color: #fff7a5;
    --button-color-hover: #ffffff;
    --accent: #fff7a5;
    --settings-panel: #e6dc78a3;
    --settings-panel-buttons: #fff7a596;
    --seek-container-background: #26206a;
    --player-container-background: #16114f;
    --seek-before: #8a844b;
    --seek-after: #fff7a5;
    --seek-thumb: #fff7a5;
    --seek-thumb-boxShadow: 0px 0px 1px 1px #fff7a578, 0px 0px 6px 2px rgba(0, 0, 0, 0.53);
    --seek-time-background: #fff7a58f;
    --switch-thumb: #ffe688;
    --switch-back: #332c84;
    --switch-back-shadow: #ffe6887d;
    --choice-color: #ffffff;
    --choice-background: #fff7a5;
    --details-background: #fff7a559;
}

[data-theme="almond"] {
    --taskbar-bg: #282928;
    --background: #131313;
    --accent: #d8882c;
    --button-background: #383838;
    --button-color: #CF8B3C;
    --button-color-hover: #ffffff;
    --settings-panel: #68380194;
    --settings-panel-buttons: #faaf5994;
    --seek-container-background: #171717;
    --player-container-background: #242424;
    --seek-before: #a67236;
    --seek-after: #d8882c;
    --seek-thumb: #d8882c;
    --seek-thumb-boxShadow: 0px 0px 1px 1px #d8882c, 0px 0px 6px 2px rgba(0, 0, 0, 0.53);
    --seek-time-background: #d8882c8f;
    --switch-thumb: #E89D46;
    --switch-back: #424242d3;
    --switch-back-shadow: #E89D46;
    --choice-color: #ffffff;
    --choice-background: #d8882c;
    --details-background: #d8882c2e;
}

.openF {
    position: absolute;
    z-index: 9;
    background-color: var(--button-background);
    padding: 8px 14px;
    color: var(--button-color);
    cursor: pointer;
    transition: 200ms ease-in-out;
    border: none;
    border-bottom-right-radius: 6px;
}

h3 {
    margin: 0;
}

.choice {
    background-color: #0000008a;
    display: grid;
    position: absolute;
    padding: 10px;
    width: 300px;
    overflow: hidden;
    border-radius: 10px;
    color: var(--button-color);
    gap: 4px;
    backdrop-filter: blur(10px);
    z-index: 115;
}

.top {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.icon {
    cursor: pointer;
    height: 22px;
    width: 22px;
}

.choice-button.input {
    height: 24px;
    color: var(--button-color);
    background-color: var(--button-background);
    outline: none;
    border: none;
    border-radius: 6px;
    padding-left: 6px;
}

.choice-button.file::file-selector-button {
    border-radius: 6px;
    padding: 4px 6px;
    background-color: var(--button-background);
    border: none;
    outline: none;
    color: var(--button-color);
}

.choice-button.file::file-selector-button:hover {
    cursor: pointer;
    color: var(--button-color-hover);
}

.choice-button.input:focus-within {
    outline: none;
    border: none;
}

.btn {
    cursor: pointer;
    padding: 4px 6px;
    border: none;
    border-radius: 6px;
    color: var(--button-color);
    background-color: var(--button-background);
}

.btn:hover {
    color: var(--button-color-hover);   
}

.openF:hover {
    color: var(--button-color-hover);
}

html {
    height: 100%;
}

body {
    background-color: var(--background-win);
    color: var(--accent);
    display: grid;
    height: 100%;
    margin: 0;
    font-family: pro;
    justify-items: center;
    align-items: center;
}

.vc {
    position: relative;
    font-family: pro;
    width: 100%;
    height: 100%;
    display: flex;
    background: black;
    min-height: 100%;
    justify-content: center;
    color: white;
    min-width: 399px;
    overflow: hidden;
}

.openFile {
    background-color: var(--buttons-background);
}

.vc.tha,
.vc.fully {
    max-width: initial;
    width: 100%;
    min-height: 23em;
    margin: 0 0 0 0;
    border-radius: 0;
}

.vc.tha {
    max-height: 72vh;
}

.vc.fully {
    position: absolute;
    top: 0;
    height: 100vh;
    border-radius: 0;
}

.vc:hover .vcc,
.vc.paused .vcc {
    opacity: 1;
}

.vcc {
    width: 100%;
    height: 54px;
    position: absolute;
    background: var(--player-container-background);
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.vcc .c {
    display: flex;
    gap: .5rem;
    padding: .25rem;
    align-items: center;
}

.bt {
    width: 40px;
    height: 40px;
    overflow: hidden;
    display: grid;
    justify-content: center;
    align-content: center;
    background: transparent;
    border: none;
    padding: 0;
    font-size: 1.1rem;
}

.bic {
    stroke: var(--accent);
    fill: var(--accent);
    opacity: .50;
    transition: opacity 150ms ease-in-out;
    stroke-width: 0.5;
    width: 100%;
    height: 100%;
}

.bicFILL {
    fill: var(--accent);
}

.bic:hover {
    cursor: pointer;
    opacity: 1;
}

.pbt:focus-within {
    border: none;
    outline: none;
}

.vc.paused .pause {
    display: none;
}

.vc:not(.paused) .play {
    display: none;
}

.vc.tha .th {
    display: none;
}

.vc:not(.tha) .rec {
    display: none;
}

.vc.fully .full {
    display: none;
}

.vc:not(.fully) .fullex {
    display: none;
}

.volC {
    display: flex;
    align-items: center;
}

.vols {
    -webkit-appearance: none;
    background: var(--accent);
    width: 0;
    border-radius: 20px;
    transform-origin: left;
    transition: width 150ms ease-in-out, transform 150ms ease-in-out;
    transform: scaleY(0);
    height: 5px;
    cursor: var(--cursorNormal);
}

.volC:hover .vols {
    width: 74px;
    transform: scaleX(1);
}

.playbackSpeedCustom {
    -webkit-appearance: none;
    background: #be6600;
    border-radius: 20px;
    transform-origin: left;
    transition: width 150ms ease-in-out, transform 150ms ease-in-out;
    height: 5px;
}

.playbackSpeedCustom::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 2px solid var(--accent);
    width: 17px;
    height: 17px;
    border-radius: 100%;
    background: var(--accent);
}

.playbackSpeedCustom:active::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 2px solid var(--accent);
    width: 17px;
    height: 17px;
    border-radius: 100%;
    background: var(--accent);
}

.playbackSpeedCustom::-moz-range-thumb {
    -moz-appearance: none;
    border: 2px solid var(--accent);
    width: 14px;
    height: 14px;
    border-radius: 100%;
    background: var(--accent);
}

.vols::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 2px solid var(--accent);
    width: 17px;
    height: 17px;
    border-radius: 100%;
    background: var(--accent);
    cursor: var(--cursorNormal);
}

.vols:active::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 2px solid var(--accent);
    width: 17px;
    height: 17px;
    border-radius: 100%;
    background: var(--accent);
}

.vols::-moz-range-thumb {
    -moz-appearance: none;
    border: 2px solid var(--accent);
    width: 14px;
    height: 14px;
    border-radius: 100%;
    background: var(--accent);
    cursor: var(--cursorNormal);
}

.volH,
.volL,
.volM {
    display: none;
}

.vc[data-volume-level="high"] .volH {
    display: block;
}

.vc[data-volume-level="low"] .volL {
    display: block;
}

.vc[data-volume-level="muted"] .volM {
    display: block;
}

.dc {
    display: flex;
    align-items: center;
    gap: .25rem;
    flex-grow: 1;
    width: 5em;
}

.ps {
    opacity: .50;
    transition: opacity 150ms ease-in-out;
    border: none;
    color: var(--accent);
    height: 28px;
    width: 28px;
    border-radius: 4px;
}

.ps:hover {
    opacity: 1;
    cursor: pointer;
}

.tlc {
    height: 7px;
    cursor: pointer;
    display: flex;
}

.tl {
    background-color: var(--seek-container-background);
    height: 4px;
    width: 100%;
    position: relative;
    transition: ease-in-out 150ms;
    bottom: 0;
}

.time-seeking {
    position: absolute;
    right: calc(100% - var(--prev-pos) * 100% - 32px);
    top: -34px;
    background-color: var(--seek-time-background);
    border-radius: 4px;
    backdrop-filter: blur(3px);
    transition-property: padding, opacity;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}

.time-seeking.show {
    z-index: 2;
    opacity: 1;
    padding: 4px 6px;
}

.time-seeking.hide {
    z-index: -3;
    opacity: 0;
    left: -14px;
    right: unset !important;
}

.tl::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: calc(100% - var(--prev-pos) * 100%);
    background-color: var(--seek-before);
    border-radius: 6px;
    display: none;
    z-index: 1;
}

.tl::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: calc(100% - var(--prog-pos) * 100%);
    background-color: var(--seek-after);
    z-index: 1;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.tl .thumb-ind {
    --scale: 0;
    position: absolute;
    transform: translateX(-50%) scale(var(--scale));
    height: 200%;
    top: -50%;
    left: calc(var(--prog-pos) * 100%);
    background: var(--seek-thumb);
    box-shadow: var(--seek-thumb-boxShadow);
    border-radius: 50%;
    transition: transform 150ms ease-in-out;
    aspect-ratio: 1 / 1;
    z-index: 9;
}

.thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.vc.scrubbing .thumbnail {
    display: block;
}
.vc.scrubbing .previ,
.tlc:hover .previ {
    display: block;
}
.vc.scrubbing .tl::before,
.tlc:hover .tl::before {
    display: block;
}

.vc.scrubbing .thumb-ind,
.tlc:hover .thumb-ind {
    --scale: 1;
}
.vc.scrubbing .tl, 
.tlc:hover .tl {
    height: 100%;
}
.vc.scrubbing .tl, 
.tlc:hover .bufferC {
    height: 100%;
}

video {
    width: 100%;
}

.vc:hover .videoInfo,
.vc.paused .videoInfo {
    opacity: 1;
}

.playbackSpeed {
    width: 28px;
    height: 22px;
}

.setti {
    position: absolute;
    bottom: 54px;
    right: 2%;
}

.psu {
    list-style: none;
    background: var(--settings-panel);
    border-radius: 7px;
    width: max-content;
    padding: 8px 0;
    display: grid;
    justify-items: left;
    transition: opacity 125ms ease-in-out;
}

.gridPanel {
    display: grid !important;
    width: max-content !important;
    height: 32px !important;
    align-content: center;
    gap: 4px;
    padding: 0 12px;
}

.gridPanel p {
    padding: 0;
}

.gridPanel:hover {
    background-color: transparent !important;
}

li .lisvg {
    width: 32px;
    height: 32px;
    padding-left: 9px;
}

.psu.hidden {
    opacity: 0;
}

.psu li {
    width: 100%;
    transition: ease-in-out 125ms;
    display: flex;
    align-items: center;
    height: 19px;
}

.psu li:hover {
    cursor: pointer;
    background-color: var(--settings-panel-buttons);
    height: 27px;
}

li p {
    margin: 0;
    padding: 0 12px;
}

.lpb {
    margin-bottom: 6px;
    border-bottom: 1px solid;
    padding-bottom: 0px;
    height: 33px !important;
    margin-top: -8px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    position: relative;
    background-color: var(--switch-back);
    width: 34px;
    height: 16px;
    border-radius: 8px;
    cursor: var(--cursorHand);
}

input[type="checkbox"]::before {
    transition: 0.2s ease-in-out;
    content: "";
    position: absolute;
    right: 18px;
    height: 16px;
    width: 16px;
    transform: scale(1.2);
    background-color: var(--switch-thumb);
    border-radius: 14px;
    box-shadow: 0 0 3px 1px var(--switch-back-shadow);
}

input:checked[type="checkbox"]::before {
    right: 0;
}

.settingsWindow {
    display: grid;
    justify-content: center;
    opacity: 0;
    transition: 200ms ease-in-out;
    position: absolute;
    inset: 0;
    background-color: var(--taskbar-bg);
    z-index: -1;
}

.settingsContent {
    padding: 8px 12px;
    height: min-content;
    display: grid;
    justify-content: left;
    width: max-content;
    background-color: var(--background);
    border-radius: 6px;
}

.settingsItem {
    display: flex;
    gap: 4px;
}

.infH {
    opacity: 0;
    z-index: -3 !important;
}

.info {
    transition: 200ms ease-in-out;
    position: absolute;
    background-color: #000000b2;
    padding: 10px 10px;
    border-radius: 8px;
    backdrop-filter: blur(10px);
    z-index: 115;
}

.infoTitle {
    margin-bottom: 4px;
    margin-left: 2px;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex-wrap: wrap;
    background-color: var(--details-background);
    padding: 8px 10px;
    border-radius: 6px;
}

.detail-title {
    font-family: pro-bold;
    margin: 0;
    font-weight: 600;
}

.details-container {
    display: flex;
    align-items: center;
    gap: 4px;
}

.info-details {
    cursor: var(--cursorText);
}