@font-face {
  font-family: Inter;
  src: url(../fonts/inter.ttf);
}

@media (max-width: 768px) {
  .logo {
    width: 100px;
    height: 100px;
  }

  h1 {
    font-size: 28px;
  }

  .desc {
    font-size: 20px;
  }
}

body {
  background-color: rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  font-family: Inter;
  margin: 0;
  padding: 0;
  padding-top: 64px;
  opacity: 0;
  animation: fade-in 0.5s ease-in-out forwards;
  text-align: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-top: 20px;
  font-size: 38px;
  font-weight: 700;
  text-align: center;
}

.desc {
  margin-top: 10px;
  font-size: 24px;
  text-align: center;
}

.left-margin {
  margin-left: 20px;
}

button,
footer a,
.second-bar a,
#searchButton {
  transition: transform 0.3s ease;
}

button:hover,
footer a:hover,
.second-bar a:hover,
#searchButton:hover {
  transform: scale(1.1);
}

table {
  margin-left: 47%;
}

button {
  background-color: #ffffff28;
  border-radius: 6px;
  padding: 6px 8px;
  border: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
  font-family: Inter;
  cursor: pointer;
  transition: 150ms ease-in-out;
  margin-left: 10px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

textarea {
  width: 400px;
  background-color: transparent;
  color: white;
  height: 40px;
  font-size: 16px;
  padding: 0 10px;
  border: none;
  border-radius: 4px;
  opacity: 0;
  animation: fade-in 0.5s ease-in-out forwards;
}

.fade-out {
  animation: fade-out 0.5s ease-in-out forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.config-label {
  font-weight: bold;
  color: #ffffff;
}

.config-input {
  padding: 5px;
  border: 1px solid #ccc;
  color: #fff;
  background-color: #646363;
  border-radius: 4px;
}

.config-select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: white;
  background-color: #3D3C3C;
}