html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background: #f1f3f4;
  overflow-y: hidden;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html.dark-theme {
  background: #1c1c1c;
}

.pointer {
  cursor: pointer;
}

.pointer:hover {
  cursor: pointer;
  background: #3f4042;
}

.surface {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  flex-direction: column;
}

@media (min-width: 100%) {
  .surface {
    padding: 60px;
  }

  .mock-browser {
    width: 100%;
    background: #dee1e6;
    border-radius: 8px;
    flex-shrink: 0;
    overflow: hidden;
  }

  html.dark-theme .mock-browser {
    background: #202123;
  }

  .mock-browser-content {
    position: relative;
    z-index: 1;
    margin-top: -1px;
    display: flex;
  }

  .chrome-tabs-optional-shadow-below-bottom-bar {
    z-index: 2;
  }
}

@media (max-width: 799px) {
  html {
    background: #fff;
  }

  html.dark-theme {
    background: #252729;
  }

  .mock-browser .chrome-tabs {
    border-radius: 0;
  }
}

.aa {
  background-color: #202124;
  width: 100%;
  color: white;
  float: right;
  border: 1px solid #b3b3b3;
}

button {
  font-family: inherit;
  display: inline-block;
  cursor: pointer;
  background: #fff;
  font-size: 12px;
  border-radius: 9999px;
}

@supports (-webkit-overflow-scrolling: touch) {
  /* Prevent double tap to zoom on iOS https://stackoverflow.com/a/47131647 */
  button {
    touch-action: manipulation;
  }
}

button:focus {
  border-color: #a9adb0;
  outline: none;
}

.buttons {
  margin-left: -0.5em;
  text-align: center;
}

.buttons button {
  margin: 0.5em;
}

html.dark-theme button {
  -webkit-font-smoothing: antialiased;
  background: transparent;
  color: #fff;
}

html.dark-theme button:focus {
  border-color: #858b90;
  outline: none;
  border: none;
}

button:active {
  outline: none;
  border: none;
}

#createTab {
  border: none;
  position: absolute;
  outline: none;
  top: 0;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
}

.iframething {
  width: 100%;
  height: 92.3%;
  outline: none;
  border: 0;
  overflow-y: hidden;
}

.container {
  background: #292b2e;
  display: inline;
}

.mock-browser-content {
  background-color: #323639;
  padding: 0em 0.5em 0.2em;
  display: flex;
}

#urlbar {
  width: 100%;
  border: hidden;
  background: #202124;
  height: 26px;
  outline: none;
  color: white;
  border-radius: 12px;
  box-sizing: border-box;
  padding-left: 10px;
  font-size: small;
}

#extensionlist {
  display: flex;
}

.extenico {
  width: 24px;
  height: 24px;
  padding-top: 2px;
  padding-left: 8px;
  padding-right: 4px;
}

#urlbutton {
  float: left;
  display: flex;
  outline: none;
  border: 0;
  font-size: large;
}

@media only screen and (max-width: 600px) {
  #urlbutton {
    font-size: 9px;
  }
  #createTab {
    padding-right: 4px;
  }
  .iframething {
    height: 89.9%;
  }
}

@media only screen and (max-width: 400px) {
  .iframething {
    height: 87.9%;
  }
}

#options {
  float: right;
  outline: none;
  border: 0;
  font-size: large;
}

.dropdown-content {
  background-color: #2c2e31;
  display: none;
  right: 0;
  border: solid 1px #b3b3b3;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content .divider {
  height: 1px;
  width: 147px;
  background: #b3b3b3;
  margin-left: 6px;
}

.dropdown-content .dividerext {
  height: 1px;
  width: 313px;
  background: #b3b3b3;
  margin-left: 6px;
}

.dropdown-content .dividerct {
  height: 1px;
  width: 284px;
  background: #b3b3b3;
  margin-left: 6px;
}

.dropdown-content .dividersua {
  height: 1px;
  width: 313px;
  background: #b3b3b3;
  margin-left: 6px;
}

.dropdown-content .inp {
  position: relative;
  top: -1px;
  height: 20px;
}

.dropdown-content .inp:hover {
  cursor: default;
}

div#customtheme {
  height: 553px;
}

.th {
  cursor: default;
  margin-top: 7px;
}

.th:hover {
  background: #2c2e31;
  cursor: default;
}

.bt {
  position: relative;
  top: 18px;
}
