@font-face {
    font-family: Roboto;
    src: url(../resources/Roboto.ttf);
}

@font-face {
    font-family: Metro;
    src: url(../resources/metropolis-regular.otf);
}

@font-face {
    font-family: Poppins;
    src: url(../resources/Poppins-Regular.ttf);
}

@font-face {
    font-family: Consolas;
    src: url(../resources/Consolas.ttf);
}

*:hover {
    z-index: 1;
}

[data-theme="dark"] {
    --body: #1c1c1c;
    --color: #dbdbdb;
    --scrollbar-background: #282928;

    --userselect-background: #ffffff15;
    --userselect-color: #41bc5d;

    --cursorText: url("../resources/cursors/textD.png") text;
    --cursorNormal: url("../resources/cursors/normalD.png") default;
    --cursorHand: url("../resources/cursors/handD.png") pointer;

    --cat-background: #111111;
    --title-border-color: white;
    --white: white;
    --button-background: #242424;
    --button-boxShadow: none;
    --button-boxShadow-hover: 0 0 8px 4px #41bc5d;
    --button-color: #41bc5d;
    --button-color-hover: #ffffff;
    --button-background-hover: #41bc5d;
    --button-border: #404040;
    --button-outline: #242424;
    --button-border-hover: #2b2b2b;
    --button-outline-hover: #151515;
    --switch-thumb: #41bc5d;
    --switch-back: #313131;
    --switch-back-shadow: #2b843f;
    --dropdown-boxShadow-hover: #41bc5d;
    --dropdown-button-background: #2b2a2a;
    --dropdown-button-background-hover: #41bc5d;
    --dropdown-button-color-hover: white;
}

[data-theme="night"] {
    --body: #181446;
    --color: #ffe688;
    --scrollbar-background: #26206a;

    --userselect-background: #32299b;
    --userselect-color: #fff7a5;

    --cursorText: url("../resources/cursors/textN.png") text;
    --cursorNormal: url("../resources/cursors/normalN.png") default;
    --cursorHand: url("../resources/cursors/handN.png") pointer;

    --cat-background: #0e0a40;
    --title-border-color: #ffe688;
    --white: #ffe688;
    --button-background: #3b3497;
    --button-boxShadow: none;
    --button-boxShadow-hover: 0 0 8px 4px #ffe688;
    --button-color: #ffe688;
    --button-color-hover: #181446;
    --button-background-hover: #ffe688;
    --button-border-hover: #0e0a40;
    --button-outline-hover: #ffe688;
    --switch-thumb: #ffe688;
    --switch-back: #332c84;
    --switch-back-shadow: #ffe6887d;
    --dropdown-boxShadow-hover: #ffe688;
    --dropdown-button-background: #19126c;
    --dropdown-button-background-hover: #ffe688;
    --dropdown-button-color-hover: #0e0a40;
}

[data-theme="fracital"] {
    --body: #222;
    --color: #ff40f7;
    --scrollbar-background: #383838;

    --userselect-background: #ffffff1a;
    --userselect-color: #ffbefc;

    --cursorText: url("../resources/cursors/textF.png") text;
    --cursorNormal: url("../resources/cursors/normalF.png") default;
    --cursorHand: url("../resources/cursors/handF.png") pointer;

    --cat-background: #1c1c1c;
    --title-border-color: #ff40f7;
    --white: #ff40f7;
    --button-background: #3d3d3d;
    --button-boxShadow: none;
    --button-boxShadow-hover: 0 0 8px 4px #ff3ff5d4;
    --button-color: #ff3ff5d4;
    --button-color-hover: #ffffff;
    --button-background-hover: #ff3ff5d4;
    --button-border-hover: #252525;
    --button-outline-hover: #ff40f7;
    --switch-thumb: #ff40f7;
    --switch-back: #424242d3;
    --switch-back-shadow: #ff40f787;
    --dropdown-boxShadow-hover: #ff3ff5d4;
    --dropdown-button-background: #262626;
    --dropdown-button-background-hover: #ff3ff5d4;
    --dropdown-button-color-hover: white;
}

::selection {
    background: var(--userselect-background);
    color: var(--userselect-color);
}

* {
    font-family: Roboto;
    margin: 0;
    padding: 0;
}

html {
    scrollbar-color: var(--color) var(--scrollbar-background);
    scrollbar-width: thin;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-background);
}

::-webkit-scrollbar-thumb {
    background-color: var(--color);
    border-radius: 6px;
}

body {
    margin: 0;
    background: var(--body);
    color: var(--color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    animation: fadeInAnimation ease-in-out 0.3s;
    animation-iteration-count: 1;
    height: max-content;
    padding-bottom: 7px;
}

.taskbar {
    display: flex;
    width: calc(100% - 10px);
    height: min-content;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    gap: 10px;
}

.title {
    color: var(--color);
    font-family: Poppins;
    font-size: 25px;
}

.settings {
    width: calc(100% - 12px);
    height: min-content;
    display: grid;
    gap: 8px;
    padding: 0 6px;
}

.cat {
    height: min-content;
    text-align: center;
    display: grid;
    justify-items: center;
    width: 100%;
    background-color: var(--cat-background);
    border-radius: 8px;
    position: relative;
    padding-bottom: 8px;
}

.cat .title {
    border: none;
    margin: 0;
    font-size: 19px;
    padding: 0;
    width: max-content;
}

.border-bottom {
    width: 100%;
    height: 4px;
    background-color: var(--title-border-color);
    border-radius: 22px;
    overflow: hidden;
}

.btns {
    display: flex;
    flex-wrap: wrap;
    width: 17em;
    height: max-content;
    margin-top: 9px;
    justify-content: center;
    gap: 4px;
}

.btn.frac {
    background-color: #3d3d3d;
    box-shadow: none;
    color: #ff3ff5d4;
    border-radius: 4px;
    height: max-content;
    width: max-content;
    padding: 6px;
    transition: ease 0.5s;
    cursor: url("../resources/cursors/handF.png"), pointer !important;
}

.btn.frac:hover {
    background-color: #ff3ff5d4;
    box-shadow: 0 0 8px 4px #ff3ff5d4;
    color: #ffffff;
    cursor: var(--cursorHand);
}

.btn.dark {
    background-color: #242424;
    color: #41bc5d;
    border-radius: 4px;
    height: max-content;
    width: max-content;
    padding: 6px;
    transition: ease 0.5s;
    cursor: url("../resources/cursors/handD.png"), pointer !important;
}

.btn.dark:hover {
    background-color: #41bc5d;
    box-shadow: 0 0 8px 4px #41bc5d;
    color: white;
    cursor: var(--cursorHand);
}

.btn.night {
    background-color: #3b3497;
    box-shadow: none;
    color: #ffe688;
    border-radius: 4px;
    height: max-content;
    width: max-content;
    font-family: Metro;
    padding: 6px;
    transition: ease 0.5s;
    cursor: url("../resources/cursors/handN.png"), pointer !important;
}

.btn.night:hover {
    background-color: #ffe688;
    box-shadow: 0 0 8px 4px #ffe688;
    color: #0e0a40;
}

.btn {
    background-color: var(--button-background);
    box-shadow: var(--button-boxShadow);
    color: var(--button-color);
    border: none;
    border-radius: 4px;
    height: max-content;
    width: max-content;
    font-family: Metro;
    padding: 6px;
    transition: ease 0.5s;
    margin-right: 6px;
    font-size: 16px;
}

.btn:hover {
    background-color: var(--button-background-hover);
    box-shadow: var(--button-boxShadow-hover);
    color: var(--button-color-hover);
    cursor: var(--cursorHand);
}

.btn.input:hover {
    background-color: var(--button-background-hover);
    color: var(--button-color-hover);
    cursor: var(--cursorText);
}

.btn.input {
    border: none;
    outline: none;
    width: 8em;
}

.btn.input.color {
    cursor: var(--cursorHand);
}

.btn.input.color {
    height: 34px;
}

.slides {
    display: flex;
    gap: 4px;
    align-items: center;
    position: relative;
}

.slides.flexy {
    width: max-content;
}

label {
    cursor: var(--cursorText);
}

input[type="checkbox"] {
    -webkit-appearance: none;
    position: relative;
    background-color: var(--switch-back);
    width: 34px;
    height: 16px;
    border-radius: 8px;
    cursor: var(--cursorHand);
}

input[type="checkbox"]::before {
    transition: 0.2s ease-in-out;
    content: "";
    position: absolute;
    right: 18px;
    height: 16px;
    width: 16px;
    transform: scale(1.2);
    background-color: var(--switch-thumb);
    border-radius: 14px;
    box-shadow: 0 0 3px 1px var(--switch-back-shadow);
}

input:checked[type="checkbox"]::before {
    right: 0;
}

/* make input[type="nunber"] arrows none */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

.radio {
    display: inline-flex;
    cursor: var(--cursorHand);
    align-items: center;
    gap: 4px;
}

.radioInput {
    display: none;
}

.check {
    position: relative;
    width: 18px;
    height: 18px;
    border: 2px solid var(--radio-border);
    border-radius: 50%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.check::after {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: block;
    background-color: var(--radio-check);
    transition: 0.2s ease-in-out;
    transform: scale(0);
}

.radioInput:checked + .check::after {
    transform: scale(1);
}

.dropdown {
    position: relative;
    width: max-content;
    height: auto;
    padding: 6px;
    border-radius: 4px;
    transition: ease-in-out 200ms;
}

.dropbtn {
    background-color: var(--dropdown-button-background-hover);
    box-shadow: 0 0 8px 2px var(--dropdown-boxShadow-hover);
    color: var(--dropdown-button-color-hover);
    border: none;
    border-radius: 6px;
    height: max-content;
    width: 100%;
    font-family: Metro;
    padding: 6px;
    transition: ease 0.5s;
    font-size: 16px;
    margin: 0;
    cursor: var(--cursorHand);
}

.dropbtn:hover {
    box-shadow: 0 0 10px 4px var(--dropdown-boxShadow-hover);
}

.dropMorph {
    background-color: var(--button-background);
    box-shadow: none;
    color: var(--white);
    border: none;
    border-radius: 6px 6px 0px 0px;
    height: max-content;
    width: 100%;
    font-family: Metro;
    padding: 6px;
    transition: ease 0.5s;
    font-size: 16px;
    margin: 0;
}

.dropMorph:hover {
    box-shadow: none;
}

.dropdown-content {
    visibility: collapse;
    opacity: 0;
    display: flex;
    flex-direction: column;
    min-width: 160px;
    border-radius: 0px 0px 6px 6px;
    box-shadow: 0 0 16px 4px rgba(0,0,0,0.2);
    transition: ease-in-out 200ms;
    background-color: var(--dropdown-button-background);
    height: 0;
}

.dropdown-content a {
    color: var(--color);
    padding: 4px 8px;
    text-decoration: none;
    cursor: var(--cursorHand);
    transition: 200ms ease-in-out;
}

.dropdown-content a:hover {
    box-shadow: 0 0 8px 2px var(--dropdown-boxShadow-hover);
    background-color: var(--dropdown-button-background-hover);
    color: var(--dropdown-button-color-hover);
}

.dropdown-content.show {
    visibility: visible;
    opacity: 1;
    height: 81px;
}

[titleSpan] {
    height: 30px;
    background-color: var(--color);
    width: 5px;
    border-radius: 6px;
}